<!DOCTYPE html>
<html>
<head>
	<title>file upload</title>
</head>
<body>
	<form method="post" endtype='multipart/form-data'>
		<input type="file" name="orginalname" ><br>
		<input type="submit" name="submit" value="upload">
	</form>

</body>
</html>